<!-- Footer: Start -->
<footer class="landing-footer" style="background: linear-gradient(to right, #0663a9 0%, #559ade 100%);">
  <div class="footer-top position-relative overflow-hidden">
    <img src="../../assets/img/front-pages/backgrounds/footer-bg.png" alt="footer bg" class="footer-bg banner-bg-img" />
    <div class="container">
      <div class="row gx-0 gy-6 g-lg-10">
        <div class="col-lg-5">
          <a href="/Home" class="app-brand-link mb-6">
            <span class="app-brand-logo demo">
              <span class="text-primary">
                 <img src="../../../assets/img/logo/gens-logo-white.png" alt="logo" width="100px">
              </span>
            </span>
          </a>
          <p class="footer-text footer-logo-description mb-6">
            Driven by the philosophy of creating world-class products, the GENS team has developed a powerful and comprehensive HRM and Payroll software for enterprises to automate their workflows...
          </p>
          <form class="footer-form">
            <div class="d-flex mt-2 gap-4">
              <div class="form-floating form-floating-outline w-px-250">
                <input type="text" class="form-control bg-transparent" id="newsletter-1" placeholder="Your email" />
                <label for="newsletter-1">Subscribe to newsletter</label>
              </div>
              <button type="submit" class="btn btn-primary">Subscribe</button>
            </div>
          </form>
        </div>
        
        <div class="col-lg-4 col-md-4 col-sm-6">
          <h6 class="footer-title mb-4 mb-lg-6">Pages</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-4">
              <a href="/Home" class="footer-link">Home</a>
            </li>
            <li class="mb-4">
              <a href="/privacy-policy" class="footer-link">Privacy Policy</a>
            </li>
            <li class="mb-4">
              <a href="/login" class="footer-link">Login</a>
            </li>
            <li class="mb-4">
              <a href="" class="footer-link">FAQ</a>
            </li>
            
            <li>
              <a href="../vertical-menu-template/auth-login-cover.html" target="_blank"
                class="footer-link">Login/Register</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-4">
          <h6 class="footer-title mb-4 mb-lg-6">Download our app</h6>
          <a href="javascript:void(0);" class="d-block footer-link mb-4"><img
              src="../../assets/img/front-pages/landing-page/apple-icon.png" alt="apple icon" /></a>
          <a href="javascript:void(0);" class="d-block footer-link"><img
              src="../../assets/img/front-pages/landing-page/google-play-icon.png" alt="google play icon" /></a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom py-5" style="background: #0865ab82;">
    <div class="container d-flex flex-wrap justify-content-between flex-md-row flex-column text-center text-md-start">
      <div class="mb-2 mb-md-0">
        <span class="footer-bottom-text">© 2026
          <script>
            document.write(new Date().getFullYear());
          </script>
          , Made with <i class="icon-base ri ri-heart-fill text-outline-danger"></i> by
        </span>
        <a href="https://pixinvent.com" target="_blank" class="footer-link fw-medium footer-theme-link">Quaeretech</a>
      </div>
      <div>
        <a href="#" class="footer-link me-4" target="_blank"><i
            class="icon-base ri ri-github-fill"></i></a>
        <a href="#" class="footer-link me-4" target="_blank"><i
            class="icon-base ri ri-facebook-circle-fill"></i></a>
        <a href="#" class="footer-link me-4" target="_blank"><i
            class="icon-base ri ri-twitter-x-fill"></i></a>
        <a href="#" class="footer-link" target="_blank"><i
            class="icon-base ri ri-instagram-line"></i></a>
      </div>
    </div>
  </div>
</footer>
<!-- Footer: End -->
