<div id="appointment-doc">

  <!-- ================= PAGE 1 ================= -->
  <!-- TITLE -->
  <h3 class="title">APPOINTMENT LETTER</h3>

  <!-- HEADER (LEFT + RIGHT) -->
  <table class="header-table">
    <tr>

      <!-- LEFT SIDE -->
      <td class="left">
        <p class="highlight">{{personalDetails.firstName}}{{personalDetails.lastName}}</p>
        <p>D/O {{personalDetails.fatherName}}</p>
        <p class="highlight">{{personalDetails.permanentAddress}}</p>
      </td>

      <!-- RIGHT SIDE -->
      <td class="right">
        <p>
          Date: <span class="highlight">{{this.minDate}}</span>
        </p>
        <p>
          Ref No: <span class="highlight">Quaere/Appoint /2025/44</span>
        </p>
      </td>

    </tr>
  </table>

  <br>

  <!-- GREETING -->
  <p>Dear <span class="highlight">{{personalDetails.firstName}}{{personalDetails.lastName}}</span>,</p>

  <br>

  <!-- BODY -->
  <p>
    The management takes great pride in informing you that you have been appointed as
    <span class="highlight">{{personalDetails.designation}}</span>
    in our company presently posted at
    <span class="highlight">{{tenant.companyAddress}}</span>,
    w.e.f <span class="highlight">{{personalDetails.joiningDate}}</span>.
    You will be required to sign our NDA, Service Agreement and Separation Policy.
  </p>

  <br>

  <p>Your appointment shall be subject to the following terms and conditions:</p>

  <!-- TERMS -->
  <ol class="terms">
    <li> That your probation will be of three months that can be extended based on your performance and confirmation
      will be written no deemed confirmation shall be effective on your employment.</li>
    <li> That before completion of probation either party can terminate the employment without notice.</li>
    <li> Your resignation will become effective and final upon acceptance by the Management not withstanding that the
      communication of the acceptance of resignation has reached you or not. However, it will be the prerogative of the
      Management to accept or not your resignation. In case of any misconduct on your part, your services can be
      terminated with immediate effect without assigning any reason and without giving to you any notice or notice pay
      in lieu of notice or any other claim, compensation or damages.</li>
    <li> Your employment with the Company may be terminated after giving a notice of minimum 90 days (depend upon the
      position in company) or salary in lieu thereof. You are bound to give 90 days notice before leaving the services
      of the Company. You will ensure that all your on-going activities/projects are successfully completed and handed
      over as per the Company guidelines on the separation process. Depending upon business requirements, the Company
      may or may not accept your request to shorten serving of the notice period against the payment of salary in lieu
      of such shortened notice period. If you fail to serve notice and your on-going activities are not successfully
      completed and handed over by you, the company may take legal action against you to recover the monetary or other
      losses.</li>
    <li>
      That you will be paid monthly emoluments of Rs. <span class="highlight">{{personalDetails.salary}}</span>/-
      inclusive of Basic, and other allowances per month, subject to deduction of any statutory or other deductions
      (cost to company) as attached as Annexure “A”.
    </li>
    <li>
      That the bifurcation of your salary into various heads is at the sole discretion of the Management. The Management
      is further empowered to re-structure your salary at any time in future at its sole discretion.
    </li>
    <li>
      That your increments will be based upon your all round performance in every six months, rather than once in a year
      and it based upon your professional efficiency, profitability of the establishment, your integrity,
      cost-effectiveness, discipline, punctuality, personal grooming, guest handling, staff handling etc. However, in
      case of your poor performance the increment can be withheld also at the sole discretion of the Management.
      Increments are neither automatic nor a right.
    </li>
    <li>
      That you are liable to be transferred to any other location, establishment, outlet, unit, branch, subsidiary,
      associate, office, department, post or place etc.; situated anywhere in the country or otherwise; whether in
      existence presently or to be opened in future, wherever the Management has any interest. Upon such transfer you
      will be automatically governed by the service conditions, rules, regulations and other terms and conditions as
      applicable at such new place.
    </li>
    <li>
      That you will be responsible for efficient and effective discharge of all functions in the establishment/
      department, as the case may be, as required to be performed by your position, and as told to you by your superior
      or by the Management from time to time.
    </li>

    <li>
      That since you are part of the Management Team, you will have no fixed duty hours or shifts, straight or broken,
      which will depend entirely upon the exigencies of business requirements, at the sole discretion of the Management.
      Your weekly off will also be liable to be staggered by the Management in the interest of business exigencies.
    </li>

    <li>
      That you will directly and through your subordinates ensure proper and effective implementation and compliance of
      all relevant legal / statutory provisions.
    </li>

    <li>
      That you will exercise overall responsibility of general management of the establishment/ department, as the case
      may be, or any other outlet / assignment assigned to you, and will run it with utmost efficiency as a successful
      profit center.
    </li>

    <li>
      That if you will be authorized to act/sign documents/ appear before any court or authority on behalf of the
      Management. It is expected of you that you will do / commit / sign any documents strictly in the interest of the
      establishment and will not bind the Management by any illegal, unlawful and criminal liability, or anything
      unacceptable to the Management. In case you commit any breach of trust or privilege in such discharge of your
      duty, you will be personally liable for the consequences of your such acts and omissions.
    </li>

    <li>

      That you will be accountable for maximizing the profitability and minimizing the costs, without compromising the
      standards / qualities / image of the establishment, and for always maintaining highest degree of standards in all
      areas of work / operation of the establishment / department, as the case may be.
    </li>

    <li>
      That it will be your responsibility to draw check-list of all do’s and don’ts of all departments / your
      department, as the case may be, and to ensure their strict daily compliance by all concerned.


    </li>

    <li>
      That you will ensure that the policies of the Company are fully enforced and carried out in the letter and spirit
      by the subordinates working under your control. You will enforce, implement and maintain highest of discipline,
      decorum, motivation and cordial industrial relations amongst all staff working under you.
    </li>
  <div class="page-break"></div>
    <li>
      That you will define the duties and responsibilities of your subordinates and monitor them, and to carefully give
      them necessary authority to take decisions wherever necessary and called for, but ultimately you will be
      responsible for their actions, omissions, commissions etc.
    </li>

    <li> That you will identify the training needs of employees working under your control, and will arrange to provide
      them effective training from time to time.</li>
    <li> That you will devote whole time to the business of the Company and shall diligently and efficiently carry out
      the duties entrusted to you by the Company from time to time. You will not accept, directly or indirectly at any
      time and other job / assignment or transact business of any kind directly or indirectly, during your employment
      with the Company, whether full time or part time, and whether with or without any remuneration or consideration.
    </li>
    <li> That you will devote whole time to the business of the Company and shall diligently and efficiently carry out
      the duties entrusted to you by the Company from time to time. You will not accept, directly or indirectly at any
      time and other job / assignment or transact business of any kind directly or indirectly, during your employment
      with the Company, whether full time or part time, and whether with or without any remuneration or consideration.
    </li>
    <li> That the company shall have the right to recover from you or from your salary and other claims any loss or
      damage suffered by the company due to your negligent act or otherwise and you shall have no objection to the same.
    </li>
    <li> That the Management shall, in its absolute discretion, have the right to terminate your services without any
      enquiry or notice or pay in lieu thereof in the event of your conviction by a court of Law for any offense
      involving moral turpitude either before joining or during the period of your employment under the Company.</li>
    <li> That should you remain absent from your work, without any information or prior written sanction of leave, and /
      or without any satisfactory explanation for more than 8 consecutive days, including absence when leave though
      applied for but not granted, or overstaying your sanctioned leave for more than 8 consecutive days without written
      sanction of extension of leave by the Management; it will be presumed that you are no longer working for the
      Company and that you have abandoned service of your service of your own accord, thereby terminating yourself from
      your employment. In such a case, you will not be liable to receive any statutory compensation.</li>
    <li> That you will be required to take prior written permission from the Management for seeking admission / pursuing
      any educational course / higher education / professional studies, with any educational / professional institute.
      Such permission, when granted, shall always be subject to the condition that it does not in any way adversely
      affect the work of the establishment. In case the permission for study is granted, you may be sanctioned leave for
      actual days of examination only. However, in the exigencies of business the permission so granted or leave so
      sanctioned is liable to be withdrawn / cancelled.</li>
    <li> That it is understood by you that this employment is being offered to you on the basis of the particulars /
      credentials furnished by you in / with your application for employment. If, at any time, should it emerge that the
      particulars / credentials as furnished by you are false / incorrect, or if any material information has been
      suppressed, this appointment shall automatically be rendered void and shall be liable to termination forthwith
      without any notice or compensation.

    </li>
    <li> That you are required to submit with the HR Department / Office, documentary proof of your date of birth and
      self-certified copies of other credentials about your qualifications, experience etc. The date of birth once
      declared / document produced shall not be allowed to be changed at your request any time in future.</li>
    <li>That your appointment / continuation in appointment in the Company shall be subject to your medical fitness,
      physically and mentally, by a doctor nominated by the Management. You will also be required to periodical medical
      checkup and inoculations etc. as and when directed by the Management.</li>
        <div class="page-break"></div>
    <li> That you will keep the Management informed of your permanent / present communication / residential addresses,
      and contact telephone / mobile numbers. You must communicate any change in them to the Management in writing
      within three days of such change. Any communication sent to you at your last known address shall be considered to
      have been served on you.</li>
    <li> That you will not refuse to accept any communication of the Management. It will amount to an act of misconduct
      on your part. That Management may send such refused communication at your residence under certificate of posting,
      and it will be deemed to have been personally served on you.</li>
    <li> That you will be entitled to leave and holidays as per law / rules of the Company.</li>
    <li> You must have to discuss your reporting person before giving your resignation letter.</li>
    <li> That you will be governed by the rules, regulations, service conditions, employee hand-book, notices,
      circulars, instructions etc. as are in force at present and as may be amended / formulated / invoked / introduced
      by the Management from time to time. That any or all the terms and conditions of your employment are subject to
      revision at any time at the sole discretion of the Management. That you will retire on attaining the age of 58
      years.</li>
    <li> That in case any dispute or difference arises in respect of the interpretation of your terms and conditions of
      service, or about any act or omission on your part; the decision of the Managing Director or of any person
      nominated by him in that matter shall be final and binding on you,</li>
    <p>
      In case the terms and conditions as mentioned above are acceptable to you, please sign on each page of the
      duplicate copy of this letter in token of your acceptance of them.
    </p>
    <!-- <li>Salary will be ₹ <span class="highlight">{{personalDetails.salary}}</span></li> -->
  </ol>

  <!-- ================= PAGE BREAK ================= -->
  <!-- <div class="page-break"></div> -->

  <!-- ================= PAGE 2 (18–33) ================= -->
  <!-- <div class="page"> -->

  <!-- <ol class="terms"> -->


  <!-- </ol> -->

  <p>We welcome you to the Quaere family and wish you good luck.</p>

  <p>Sincerely,</p>

  <br>

  <p><b>Auth Signatory</b></p>
  <p>Quaere Etechnologies Pvt Ltd</p>

  <!-- </div> -->

  <!-- ================= PAGE BREAK ================= -->
  <div class="page-break"></div>

  <!-- ================= PAGE 3 (ACCEPTANCE) ================= -->
  <!-- <div class="page"> -->

  <p><b>Acceptance:</b></p>

  <p>
    I, <span class="highlight">{{personalDetails.firstName}}{{personalDetails.lastName}}</span>, have carefully read and
    understood the terms and conditions of my appointment as mentioned herein above, and I agree and undertake to abide
    by them.
  </p>

  <br><br>

  <p>(Signature of Employee)</p>

  <!-- </div> -->

  <!-- ================= PAGE BREAK ================= -->
  <div class="page-break"></div>

  <!-- ================= PAGE 4 (ANNEXURE) ================= -->
  <!-- <div class="page"> -->

  <h4 class="center"><u>Annexure "A"</u></h4>

  <p><b>Cost to Company Details</b></p>

  <p>
    In continuation to our appointment letter dated <span class="highlight">{{personalDetails.date}}</span> mentioned
    above, please note that the breakup of your salary will be as follows:-

  </p>

  <h4 class="center"><u>Salary Annexure</u></h4>
  <table class="salary-table">

    <tr>
      <th>Particulars</th>
      <th>Annual</th>
      <th>Monthly</th>
    </tr>

    <!-- EARNINGS -->
    <tr>
      <td><b>Gross Remuneration</b></td>
      <td class="highlight">{{salaryTable.totalEarning | number:'1.0-0'}}</td>
      <td class="highlight">{{salaryTable.totalEarning /12 | number:'1.0-0'}}</td>
    </tr>

    <tr *ngFor="let item of salaryTable.earnings">
      <td>{{item.name}}</td>
      <td class="highlight">{{item.finalAmount| number:'1.0-0'}}</td>
      <td class="highlight">{{item.finalAmount /12 | number:'1.0-0'}}</td>
    </tr>

    <!-- DEDUCTIONS -->
    <tr>
      <td><b>Parts of Benefits</b></td>
      <td></td>
      <td></td>
    </tr>

    <tr *ngFor="let item of salaryTable.deductions">
      <td>{{item.component_name}}</td>
      <td class="highlight">{{item.finalAmount | number:'1.0-0'}}</td>
      <td class="highlight">{{item.finalAmount /12 | number:'1.0-0'}}</td>
    </tr>

    <!-- NET -->
    <tr>
      <td><b>In Hand Remuneration</b></td>
      <td class="highlight">
        {{salaryTable.netSalary | number:'1.0-0'}}
      </td>
      <td class="highlight">
        {{salaryTable.netSalary /12 | number:'1.0-0'}}
      </td>
    </tr>
    <tr>
      <td>
        <b>Total Cost to the Company (Annual)</b>
      </td>
      <td class="highlight">
        {{ctc | number:'1.0-0'}}
      </td>
      <td class="highlight">
        {{ctc/12 | number:'1.0-0'}}
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <b> Annual Cost to Company (In Words) - <span class="highlight">
            {{ convertNumberToWords(ctc) }}
          </span></b>
      </td>
      <!-- <td >

    </td>
    <td >

    </td> -->
    </tr>

  </table>

  <br>
  <p>
    Kindly Note that you are required to make your own arrangements for stay at the place of posting. We wish you all
    the best and hope to have a long and fruitful association.
  </p>
  <br>
  <p>Regards</p>

  <p>Authorized Signatory</p>
  <p>For Quaere Etechnologies Pvt Ltd</p>

  <br>

  <p class="center"><b>ACKNOWLEDGEMENT & ACCEPTANCE</b></p>

  <p>DATE: __________</p>

  <p style="text-align:right;">
    (SIGNATURE OF CANDIDATE)
  </p>

  <!-- </div> -->

</div>