<div class="container-fluid  mt-5">
  <div class="row mb-6" *ngIf="createFlag">
    <div class="col-md">
      <div class="card">
        <h5 class="card-header d-flex justify-content-between align-items-center">
          <span>Apply Leave</span>
          <button type="button" class="btn btn-xs btn-primary float-end" (click)="back()">
            <i class="fa-solid fa-arrow-left"></i>&nbsp;back
          </button>
        </h5>


        <div class="card-body">
          <div class="row g-3">
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-4">
              <label for="defaultFormControlInput" class="form-label">Select Employee</label>
              <ng-select [items]="EmpList" bindLabel="label" bindValue="value" [(ngModel)]="obj['employeeId']"
                [multiple]="false" placeholder="Select Employee" name="state" id="select2Danger" required
                #employeeRef="ngModel">
              </ng-select>
              <small class="text-danger" *ngIf="employeeRef.invalid && employeeRef.touched">
                Select Employee Is required
              </small>
            </div>

            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-4">
              <label for="defaultFormControlInput" class="form-label">Leave Type</label>
              <ng-select [items]="leaveTypeList" bindLabel="label" bindValue="value" [(ngModel)]="obj['leaveTypeId']"
                [multiple]="false" placeholder="Select Leave Type" name="state" id="select2Danger" required
                #leaveTypeRef="ngModel">
              </ng-select>
              <small class="text-danger" *ngIf="leaveTypeRef.invalid && leaveTypeRef.touched">
                Leave Type Is required
              </small>
            </div>
            <div class="col-4">
              <label class="form-label d-block">Duration Type</label>
              <!-- <label class="form-check-label me-3 mt-2">
                <input
                  type="radio"
                  name="leaveFreqTo"
                  value="first_half"
                  class="form-check-input me-1"
                  [(ngModel)]="obj['duration_type']"
                />
                First Half
              </label>
              <label class="form-check-label me-3 mt-2">
                <input
                  type="radio"
                  name="leaveFreqFrom"
                  value="second_half"
                  class="form-check-input me-1"
                  [(ngModel)]="obj['duration_type']"
                />
                Second Half
              </label>

               <label class="form-check-label me-3 mt-2">
                <input
                  type="radio"
                  name="leaveFreqFullDay"
                  value="full_day"
                  class="form-check-input me-1"
                  [(ngModel)]="obj['duration_type']"
                />
                Full Day
              </label> -->

              <div class="btn-group w-100" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" name="leaveFreqTo" value="first_half" class="btn-check" id="btnradio1"
                  [(ngModel)]="obj['duration_type']" />
                <label class="btn btn-outline-primary waves-effect" for="btnradio1">First Half</label>

                <input type="radio" name="leaveFreqFrom" value="second_half" class="btn-check" id="btnradio2"
                  [(ngModel)]="obj['duration_type']" />
                <label class="btn btn-outline-primary waves-effect" for="btnradio2">Second Half</label>

                <input type="radio" name="leaveFreqFullDay" value="full" class="btn-check" id="btnradio3"
                  [(ngModel)]="obj['duration_type']" />
                <label class="btn btn-outline-primary waves-effect" for="btnradio3">Full Day</label>
              </div>



            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-4" *ngIf="obj['duration_type']=='first_half'  || obj['duration_type']=='full' ">
              <label for="defaultFormControlInput" class="form-label">Leave From</label>
              <input type="date" class="form-control" id="defaultFormControlInput" placeholder="Select Leave From"
                [(ngModel)]="obj['fromDate']" [min]="minDate" aria-describedby="defaultFormControlHelp"
                #startDateRef="ngModel" />
              <small class="text-danger" *ngIf="startDateRef.invalid && startDateRef.touched">Leave From Is Required
              </small>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-4" *ngIf="obj['duration_type']=='second_half'  || obj['duration_type']=='full' ">
              <label for="defaultFormControlInput" class="form-label">Leave To</label>
              <input type="date" class="form-control" id="defaultFormControlInput" placeholder="Select Leave To"
                [(ngModel)]="obj['toDate']" aria-describedby="defaultFormControlHelp" #toDateRef="ngModel"
                [min]="getToDateMin()" />
              <small class="text-danger" *ngIf="toDateRef.invalid && toDateRef.touched">
                Leave To Is Required
              </small>
            </div>



            <div class="col-12">
              <label for="defaultFormControlInput" class="form-label">Reason</label>
              <textarea class="form-control" id="defaultFormControlInput" [(ngModel)]="obj['reason']"
                #reasonRef="ngModel"></textarea>

              <small class="text-danger" *ngIf="reasonRef.invalid && reasonRef.touched">
                Reason Is Required
              </small>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mt-2">
              <button *ngIf="createFlag && updateFlag == false" type="button"
                class="btn btn-sm btn-primary waves-effect waves-light" (click)="onSubmit()">
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-6" *ngIf="!createFlag">
    <div class="col-md">

      <div class="card">
        <h5 class="card-header d-flex justify-content-between align-items-center">
          <span>Filter Apply Leave</span>
          <button *ngIf="createFlag == false" type="button" class="btn btn-xs btn-primary float-end"
            (click)="opencreate()">
            <i class="fa-solid fa-plus"></i>&nbsp;Add
          </button>
        </h5>
        <div class="card-body">
          <div class="row g-3">
            <div class="col-3">
              <label for="defaultFormControlInput" class="form-label">Select Employee</label>
              <ng-select [items]="EmpList" bindLabel="label" bindValue="value" [(ngModel)]="obj['emp_id']"
                [multiple]="false" placeholder="Select Employee" name="state" id="select2Danger" required
                #enCashableRef="ngModel">
              </ng-select>
            </div>
            <div class="col-3">
              <label for="defaultFormControlInput" class="form-label">Select Leave Type</label>
              <ng-select [items]="leaveTypeList" bindLabel="label" bindValue="value" [(ngModel)]="obj['leave_type_id']"
                [multiple]="false" placeholder="Select Leave Type" name="state" id="select2Danger" required
                #leaveTypeFilterRef="ngModel">
              </ng-select>

            </div>


            <div class="col-3">
              <label for="defaultFormControlInput" class="form-label">Select Year
                <span style="color: red">*</span>
              </label>
              <ng-select [items]="yearList" bindLabel="label" bindValue="value" [(ngModel)]="obj['year']"
                [multiple]="false" placeholder="Select Year" name="state" id="select2Danger" class="w-100 mx-2" required
                #enCashableRef="ngModel">
              </ng-select>
            </div>

            <div class="col-3">
              <label for="defaultFormControlInput" class="form-label">Select Month
                <span style="color: red"> * </span>
              </label>
              <ng-select [items]="monthList" bindLabel="label" bindValue="value" [(ngModel)]="obj['month']"
                [multiple]="false" placeholder="Select Month" name="state" id="select2Danger" required
                #enCashableRef="ngModel">
              </ng-select>
            </div>

            <div class="col-3">
              <label for="defaultFormControlInput" class="form-label">Select Status
                <span style="color: red"> * </span>
              </label>
              <ng-select [items]="leaveStatus" bindLabel="label" bindValue="value" [(ngModel)]="obj['status']"
                [multiple]="false" placeholder="Select Status" name="state" id="select2Danger" required
                #enCashableRef="ngModel">
              </ng-select>
            </div>

          </div>
          <div class="row mt-2">
            <div class="col-12 justify-content-center">
              <button type="button" class="btn btn-sm btn-primary waves-effect waves-light" (click)="getApplyLeaveList()">
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row mb-6">
    <div class="col-md">
      <div class="card">
        <h5 class="card-header d-flex justify-content-between align-items-center">
          <span>Apply Leave List</span>
          <!-- <button *ngIf="createFlag == false" type="button" class="btn btn-xs btn-primary float-end"
            (click)="opencreate()">
            <i class="fa-solid fa-plus"></i>&nbsp;Add
          </button> -->
        </h5>

        <!-- <app-search-pagination
          [totalItems]="applyLeaveList.length"
          [pageSize]="itemsPerPage"
          [currentPage]="currentPage"
          (search)="onSearch($event)"
          (pageChange)="onPageChange($event)"
          (pageSizeChange)="onPageSizeChange($event)"
        > -->

        <app-search-pagination [totalItems]="applyLeaveList.length" [pageSize]="itemsPerPage"
          [currentPage]="currentPage" (search)="onSearch($event)" (pageChange)="onPageChange($event)"
          (pageSizeChange)="onPageSizeChange($event)">

          <div class="table-responsive">
            <table class="table dataTable">
              <thead>
                <tr>
                  <th>SI.No</th>
                  <th>Employee Name</th>
                  <th>Leave Type</th>
                  <th>From Date</th>
                  <th>To Date</th>
                  <th>Days</th>
                  <th>Duration Type</th>
                  <th style="width: 25%;">Reason</th>
                  <th>Status</th>
                  <th>createdAt</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody class="table-border-bottom-0">
                <tr *ngFor="let item of filteredDesignation; let i = index">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ item["employeeName"] }}
                    <br />
                    <span class="badge rounded-pill bg-label-primary">
                      {{item["employeeEmail"]}}
                    </span>
                  </td>
                  <td>{{ item["leaveName"] }}
                    
                    <span class="badge rounded-pill bg-label-primary">
                      {{item["leaveCode"]}}
                    </span>
                  </td>
                  <td>{{ item["fromDate"] }}</td>
                  <td>{{ item["toDate"] }}</td>
                  <td>{{ item["days"] }}</td>
                  <td>{{ item["duration_type_name"] }}</td>
                  <td>{{ item["reason"] }}</td>
                  <td>{{ item["status"] }}</td>

                  <td>{{ item["createdAt"] | date: 'short'  }}</td>

                <td>
                  <button type="button" class="btn btn-sm btn-outline-success" *ngIf="!['approved','rejected','self_declined'].includes(item.status)"
                    (click)="statuschange(item,'approved')">
                    <i class="fas fa-check"></i>
                  </button>
                  &nbsp;
                 <button
  *ngIf="['pending','recommended'].includes(item.status)"
  type="button"
  class="btn btn-sm btn-outline-danger"
  (click)="statuschange(item,'rejected')">

  <i class="fa-solid fa-xmark"></i>

</button>
                </td>
              </tr>
            </tbody>
          </table>
          </div>
        </app-search-pagination>

        <!-- <div class="table-responsive text-nowrap">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>SI.No</th>
                <th>Employee Name</th>
                <th>Leave Type</th>
                <th>From Date</th>
                <th>To Date</th>
                <th>Days</th>
                <th>Duration Type</th>
                <th>Reason</th>
                <th>Status</th>
                <th>createdAt</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0">
              <tr *ngFor="let item of applyLeaveList; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ item["employeeName"] }}
                    <br />
                  <span class="badge rounded-pill bg-label-primary">
                    {{item["employeeEmail"]}}
                  </span>
                </td>
                <td>{{ item["leaveName"] }}
                  <br>
                      <span class="badge rounded-pill bg-label-primary">
                    {{item["leaveCode"]}}
                  </span>
                </td>
                <td>{{ item["fromDate"] }}</td>
                <td>{{ item["toDate"] }}</td>
                <td>{{ item["days"] }}</td>
                <td>{{ item["duration_type_name"] }}</td>
                <td>{{ item["reason"] }}</td>
                <td>{{ item["status"] }}</td>

                <td>{{ item["createdAt"] }}</td>

                <td>
                  <button type="button" class="btn btn-outline-success btn-sm" *ngIf="item.status=='pending'" (click)="statuschange(item,'approved')" >
                    <i class="fas fa-check"></i>
                  </button>
                  &nbsp;
                  <button  *ngIf="item.status=='pending'"
                    type="button"
                    class="btn btn-sm btn-outline-danger"
                    (click)="statuschange(item,'rejected')"
                  >
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div> -->
      </div>
    </div>
  </div>
</div>
