<div class="container-fluid mt-5">
  <div class="row mb-6">
    <div class="col-md">
      <div class="card">
        <h5 class="card-header d-flex justify-content-between align-items-center">
          <span>Generate Salary</span>
          <!-- <button
            type="button"
            class="btn btn-xs btn-primary float-end"
            (click)="back()"
          >
            <i class="fa-solid fa-arrow-left"></i>&nbsp;back
          </button> -->
        </h5>


        <div class="card-body">
          <div class="row g-3">
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
              <label for="defaultFormControlInput" class="form-label">Select Employee</label>
              <ng-select [items]="EmpList" bindLabel="label" bindValue="value" [(ngModel)]="obj['employeeId']"
                [multiple]="false" placeholder="Select Employee" name="state" id="select2Danger" required
                #employeeRef="ngModel">
              </ng-select>
              <small class="text-danger" *ngIf="employeeRef.invalid && employeeRef.touched">
                Employee Is required
              </small>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
              <label for="defaultFormControlInput" class="form-label">Select Month</label>
              <ng-select [items]="monthList" bindLabel="label" bindValue="value" [(ngModel)]="obj['month']"
                [multiple]="false" placeholder="Select Month" name="state" id="select2Danger" required
                #monthRef="ngModel">
              </ng-select>
              <small class="text-danger" *ngIf="monthRef.invalid && monthRef.touched">
                Month Is Required
              </small>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
              <label for="defaultFormControlInput" class="form-label">Select Year</label>
              <ng-select [items]="yearList" bindLabel="label" bindValue="value" [(ngModel)]="obj['year']"
                [multiple]="false" placeholder="Select Year" name="state" id="select2Danger" required
                #yearRef="ngModel">
              </ng-select>
              <small class="text-danger" *ngIf="yearRef.invalid && yearRef.touched">
                Year Is Required
              </small>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mt-2">
              <button type="button" class="btn btn-sm btn-primary waves-effect waves-light" (click)="onSubmit()">
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-6">
    <div class="col-md">
      <div class="card">
        <h5 class="card-header d-flex justify-content-between align-items-center">
          <span>Salary List</span>
          <button type="button" class="btn btn-xs btn-primary float-end" (click)="generate_Salary()">
            Generate Salary
          </button>
        </h5>


        <app-search-pagination [totalItems]="SalaryArr.length" [pageSize]="itemsPerPage" [currentPage]="currentPage"
          (search)="onSearch($event)" (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)">
          <div class="table-responsive">
            <table class="table table-hover bg-white">
              <thead>
                <tr>
                  <th>
                    <input type="checkbox" [(ngModel)]="masterSelected" (change)="checkUncheckAll()" />
                  </th>
                  <th>SI.No</th>
                  <th>Employee Id</th>
                  <th>Monthly Salary</th>
                  <th>Monthly Deduction</th>
                  <!-- <th>Bonus</th> -->
                  <th>Net Pay</th>
                  <!--
                <th>Total Leave Days</th>
                <th>Total Working Days</th>
                <th>Full Days</th>
                <th>Absent Days</th>
                <th>Allowed Leave</th> -->
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody class="table-border-bottom-0">
                <tr *ngFor="let item of filteredSalary; let i = index">
                  <td>
                    <input type="checkbox" [(ngModel)]="item.isSelected" (change)="isAllSelected()" />
                  </td>
                  <th scope="row">{{ i + 1 }}</th>
                  <td>
                    {{ item["empCode"] }}
                    {{ item["employeeName"] }}
                  </td>
                  <td>{{ item["TotalSalary"] }}</td>
                  <td>{{ item["totalDeduction"] }}</td>
                  <!-- <td>{{ item["bonusamount"] ||0 }}</td> -->
                  <td>{{ item["basePay"] }}</td>
                  <!-- <td>{{ item["totalLeaveDays"] }}</td>
                <td>{{ item["totalWorkingDays"] }}</td>
                <td>{{ item["fullDays"] }}</td>
                <td>{{ item["absentDays"] }}</td>
                <td>{{ item["allowedLeave"] }}</td> -->

                  <td>
                    <button type="button" class="btn btn-outline-success btn-sm" (click)="view(item)">
                      <i class="fas fa-eye"></i>
                    </button>
                    &nbsp;
                    <button type="button" class="btn btn-sm btn-outline-danger" (click)="delete(item)">
                      <i class="fas fa-trash-alt"></i>
                    </button> &nbsp;

                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </app-search-pagination>

        <!-- <div class="table-responsive text-nowrap">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>
                  <input type="checkbox" [(ngModel)]="masterSelected" (change)="checkUncheckAll()" />
                </th>
                <th>SI.No</th>
                <th>Employee Id</th>
                <th>Monthly Salary</th>
                <th>Monthly Deduction</th>
                <th>Bonus</th>
                <th>Net Pay</th>

                <th>Total Leave Days</th>
                <th>Total Working Days</th>
                <th>Full Days</th>
                <th>Absent Days</th>
                <th>Allowed Leave</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0">
              <tr *ngFor="let item of SalaryArr; let i = index">
                <td>
                  <input type="checkbox" [(ngModel)]="item.isSelected" (change)="isAllSelected()" />
                </td>
                <th scope="row">{{ i + 1 }}</th>
                <td>
                  {{ item["empCode"] }}
                  {{ item["employeeName"] }}
                </td>
                <td>{{ item["TotalSalary"] }}</td>
                <td>{{ item["totalDeduction"] }}</td>
                <td>{{ item["bonusamount"] ||0 }}</td>
                <td>{{ item["basePay"] }}</td>
                <td>{{ item["totalLeaveDays"] }}</td>
                <td>{{ item["totalWorkingDays"] }}</td>
                <td>{{ item["fullDays"] }}</td>
                <td>{{ item["absentDays"] }}</td>
                <td>{{ item["allowedLeave"] }}</td>

                <td>
                   <button type="button" class="btn btn-outline-success btn-sm" (click)="view(item)">
                    <i class="fas fa-eye"></i>
                  </button>
                  &nbsp;
                   <button type="button"
                  class="btn btn-sm btn-outline-danger" (click)="delete(item)">
                     <i class="fas fa-trash-alt"></i>
                  </button> &nbsp;

                </td>
              </tr>
            </tbody>
          </table>
        </div> -->
      </div>
    </div>
  </div>
</div>
<!-- Modal -->

<div class="modal fade" id="SalaryModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">

      <!-- HEADER -->
      <div class="modal-header">
        <h5 class="modal-title">Employee Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">

        <!-- TAB HEADER -->
        <ul class="nav nav-pills mb-3 mb-3">

          <li class="nav-item">
            <a class="nav-link" [class.active]="activeTab == 'salary'" (click)="changeTab('salary')">
              Salary Breakup
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [class.active]="activeTab == 'absentDays'" (click)="changeTab('absentDays')">
              Absent Days Record
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [class.active]="activeTab == 'attendance'" (click)="changeTab('attendance')">
              Attendance
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [class.active]="activeTab == 'leave'" (click)="changeTab('leave')">
              Leave Requests
            </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" [class.active]="activeTab == 'salary'"  (click)="activeTab='salary'; onSubmit()">
              Salary Breakup
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [class.active]="activeTab == 'absentDays'" (click)="activeTab='absentDays'; onSubmit()">
              Absent Days Record
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [class.active]="activeTab == 'attendance'"
              (click)="activeTab='attendance'; loadAttendance()">
              Attendance
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [class.active]="activeTab == 'leave'" (click)="activeTab='leave'; loadLeaveRequests()">
              Leave Requests
            </a>
          </li> -->


        </ul>
<hr>

        <!-- ================= SALARY TAB ================= -->
        <div *ngIf="activeTab == 'salary'">


          <div class="row">
            <div class="col-3">
              <label for="defaultFormControlInput" class="form-label">Name :
              </label>
              {{ personalDetails["employeeName"] }}
            </div>
            <div class="col-3">
              <label for="defaultFormControlInput" class="form-label">Employee Code :
              </label>
              {{ personalDetails["empCode"] }}
            </div>
            <div class="col-3">
              <label for="defaultFormControlInput" class="form-label">Designation :
              </label>
              {{ personalDetails["designation_name"] }}
            </div>
            <div class="col-3">
              <label for="defaultFormControlInput" class="form-label">Total Salary :
              </label>
              {{ personalDetails["TotalSalary"] }}
            </div>
          </div>
          <hr />

          <div class="row">
            <div class="col-md-6">
              <div class="list-group mb-3">
                <div class="list-group-item bg-light p-2 border-bottom-0">
                  <h6 class="mb-0">Earnings</h6>
                </div>
                <div class="list-group-item" *ngFor="let item of PayArr; let i = index">
                  <div class="d-flex align-items-center justify-content-between">
                    <p class="mb-0">{{ item?.name }}</p>
                    <h6 class="fw-medium">{{ item?.pay_amount }}</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="list-group mb-3">
                <div class="list-group-item bg-light p-2 border-bottom-0">
                  <h6 class="mb-0">Deductions</h6>
                </div>
                <div class="list-group-item" *ngFor="let item1 of DedArr; let i = index">
                  <div class="d-flex align-items-center justify-content-between">
                    <p class="mb-0">{{ item1?.name }}</p>
                    <h6 class="fw-medium">{{ item1?.pay_amount }}</h6>
                  </div>
                </div>
              </div>
              <div class="list-group mb-3">
                <div class="list-group-item bg-light p-2 border-bottom-0">
                  <h6 class="mb-0">Employer Deductions</h6>
                </div>
                <div class="list-group-item" *ngFor="let item1 of EmployerDedArr; let i = index">
                  <div class="d-flex align-items-center justify-content-between">
                    <p class="mb-0">{{ item1?.name }}</p>
                    <h6 class="fw-medium">{{ item1?.pay_amount }}</h6>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <hr />

          <p>Leave Deductions</p>

          <div class="table-responsive">
            <table class="table table-bordered border-primary">
              <thead>
                <tr>
                  <th>Total Working Days</th>
                  <th>Present Days</th>
                  <th>Absent Days</th>
                  <th>Leave Taken</th>
                  <th>Allowed Leaves</th>
                  <th>Half days</th>
                  <th>Late Attendance</th>
                  <th>Leave Deductions</th>
                  <th>Net Pay</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{personalDetails['totalWorkingDays']}}</td>
                  <td>{{personalDetails['fullDays']}}</td>
                  <td>{{personalDetails['absentDays']}}</td>
                  <td>{{personalDetails['totalLeaveDays']}}</td>
                  <td>{{personalDetails['allowedLeave']}}</td>
                  <td>{{personalDetails['halfDays']}}</td>
                  <td>{{personalDetails['lateDays']}}</td>
                  <td>{{personalDetails['totalDeduction']}}</td>
                  <td>{{personalDetails['basePay']}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!--
        <div class="table-responsive text-nowrap">
          <table class="table table-hover">
            <thead>
              <tr>

                <th>SI.No</th>
                <th>Employee Code</th>
                 <th>Component</th>
                 <th>Pay Code</th>
                 <th>Amount</th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0">
              <tr *ngFor="let item of SalaryBreakup; let i = index">

                <th scope="row">{{ i + 1 }}</th>
                <td> {{ item["employeeId"] }}

                </td>
                <td>{{ item["name"] }}</td>
                <td>{{ item["pay_code"] }}</td>
                <td>{{ item["amount"] }}</td>

              </tr>
            </tbody>
          </table>
        </div> -->




          <!-- <div class="row">
            <div class="col-3">
              <label>Name :</label>
              {{ personalDetails?.employeeName }}
            </div>

            <div class="col-3">
              <label>Employee Code :</label>
              {{ personalDetails?.empCode }}
            </div>

            <div class="col-3">
              <label>Designation :</label>
              {{ personalDetails?.designation }}
            </div>

            <div class="col-3">
              <label>Total Salary :</label>
              {{ personalDetails?.TotalSalary }}
            </div>
          </div>

          <hr />

          <div class="row">

            <div class="col-md-6">
              <div class="list-group mb-3">
                <div class="list-group-item bg-light">
                  <h6>Earnings</h6>
                </div>

                <div class="list-group-item" *ngFor="let item of PayArr">
                  <div class="d-flex justify-content-between">
                    <p>{{item?.name}}</p>
                    <h6>{{item?.pay_amount}}</h6>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-md-3">
              <div class="list-group mb-3">
                <div class="list-group-item bg-light">
                  <h6>Deductions</h6>
                </div>

                <div class="list-group-item" *ngFor="let item of DedArr">
                  <div class="d-flex justify-content-between">
                    <p>{{item?.name}}</p>
                    <h6>{{item?.pay_amount}}</h6>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-md-3">
              <div class="list-group mb-3">
                <div class="list-group-item bg-light">
                  <h6>Employer Deductions</h6>
                </div>

                <div class="list-group-item" *ngFor="let item of EmployerDedArr">
                  <div class="d-flex justify-content-between">
                    <p>{{item?.name}}</p>
                    <h6>{{item?.pay_amount}}</h6>
                  </div>
                </div>
              </div>
            </div>

          </div> -->

        </div>

        <!-- ================= absentDays Record TAB ================= -->
        <div *ngIf="activeTab=='absentDays'">

          <table class="table">
            <thead>
              <tr>
                <th>SI.NO</th>
                <th>Date</th>
                <th>Reason</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let item of absentDaysArr; let i = index">

                <td>{{i+1}}</td>
                <td>{{item.date }}</td>
                <td>{{item.reason}}</td>
              </tr>
            </tbody>

          </table>

        </div>

        <!-- ================= ATTENDANCE TAB ================= -->
        <div *ngIf="activeTab=='attendance'">
          <h5 class="card-header d-flex justify-content-between align-items-center">
            <span>Attendance List</span>
            <button type="button" class="btn btn-xs btn-primary float-end" (click)="correctAll()">
              All Attendance Submit
            </button>
          </h5>

          <table class="table">
            <thead>
              <tr>
                <th style="width: 20px; font-size: 12px">
                  <input type="checkbox" [(ngModel)]="masterSelected" (change)="checkUncheckAll()" />
                </th>
                <th>Date</th>
                <th>Check In</th>
                <th>Check Out</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let item of attendanceList">
                <td>
                  <input type="checkbox" [(ngModel)]="item.editable" (change)="isAllSelected()" />
                </td>
                <td>{{item.date}}</td>
                <!-- <td>{{ item.checkIn }}</td>
                <td>{{ item.checkOut }}</td> -->
                <td style="width: 50px; font-size: 12px">
                  <input type="time" [(ngModel)]="item.checkIn" class="form-control" [disabled]="!item.editable" />
                  <!-- {{item?.checkIn}} -->
                </td>

                <td style="width: 50px; font-size: 12px">
                  <input type="time" [(ngModel)]="item.checkOut" class="form-control" [disabled]="!item.editable" />
                  <!-- {{ item?.checkOut }} -->
                </td>
                <td>{{item.status}}</td>
                <td>
                  <!-- <button *ngIf="!item.editable" type="button" class="btn btn-sm btn-outline-success m-2"
                      (click)="applyUpdate(item)">
                      <i class="ri ri-pencil-line"></i>
                    </button>

                    <button *ngIf="item.editable" type="button" class="btn btn-sm btn-outline-success m-2"
                      (click)="update(item)">
                      <i class="ri ri-send-plane-line"></i>

                    </button> -->

                  <button type="button" class="btn btn-sm btn-outline-danger" (click)="deleteAttendance(item)">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
            </tbody>

          </table>

        </div>

        <!-- ================= LEAVE TAB ================= -->
        <div *ngIf="activeTab=='leave'">

          <table class="table">
            <thead>
              <tr>
                <th>Leave Type</th>
                <th>From</th>
                <th>To</th>
                <th>From Duration</th>
                <th>To Duration</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let leave of leaveList">
                <td>{{leave.leave_type_name}}</td>
                <td>{{leave.fromDate}}</td>
                <td>{{leave.toDate}}</td>
                <td>{{leave.duration_type_name}}</td>
                <td>{{leave.to_duration_type_name}}</td>
                <td>{{leave.status}}</td>
                <td>
                  <button type="button" class="btn btn-sm btn-outline-success" *ngIf="!['approved','rejected','self_declined'].includes(leave.status)"
                    (click)="statuschange(leave,'approved')">
                    <i class="fas fa-check"></i>
                  </button>
                  &nbsp;
                  <button *ngIf="['pending','recommended'].includes(leave.status)" type="button"
                    class="btn btn-sm btn-outline-danger" (click)="statuschange(leave,'rejected')">

                    <i class="fa-solid fa-xmark"></i>

                  </button>
                </td>
              </tr>
            </tbody>

          </table>

        </div>

      </div>
    </div>
  </div>
</div>


<!-- <div class="modal fade" id="SalaryModal" tabindex="-1" aria-labelledby="imageModalLabel1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Salary Breakup</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <label for="defaultFormControlInput" class="form-label">Name :
            </label>
            {{ personalDetails["employeeName"] }}
          </div>
          <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <label for="defaultFormControlInput" class="form-label">Employee Code :
            </label>
            {{ personalDetails["empCode"] }}
          </div>
          <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <label for="defaultFormControlInput" class="form-label">Designation :
            </label>
            {{ personalDetails["empCode"] }}
          </div>
          <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <label for="defaultFormControlInput" class="form-label">Total Salary :
            </label>
            {{ personalDetails["TotalSalary"] }}
          </div>
        </div>
        <hr />

        <div class="row">
          <div class="col-md-6">
            <div class="list-group mb-3">
              <div class="list-group-item bg-light p-2 border-bottom-0">
                <h6 class="mb-0">Earnings</h6>
              </div>
              <div class="list-group-item" *ngFor="let item of PayArr; let i = index">
                <div class="d-flex align-items-center justify-content-between">
                  <p class="mb-0">{{ item?.name }}</p>
                  <h6 class="fw-medium">{{ item?.pay_amount }}</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="list-group mb-3">
              <div class="list-group-item bg-light p-2 border-bottom-0">
                <h6 class="mb-0">Deductions</h6>
              </div>
              <div class="list-group-item" *ngFor="let item1 of DedArr; let i = index">
                <div class="d-flex align-items-center justify-content-between">
                  <p class="mb-0">{{ item1?.name }}</p>
                  <h6 class="fw-medium">{{ item1?.pay_amount }}</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="list-group mb-3">
              <div class="list-group-item bg-light p-2 border-bottom-0">
                <h6 class="mb-0">Employer Deductions</h6>
              </div>
              <div class="list-group-item" *ngFor="let item1 of EmployerDedArr; let i = index">
                <div class="d-flex align-items-center justify-content-between">
                  <p class="mb-0">{{ item1?.name }}</p>
                  <h6 class="fw-medium">{{ item1?.pay_amount }}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr />

        <p>Leave Deductions</p>

        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Total Working Days</th>
                <th>Present Days</th>
                <th>Absent Days</th>
                <th>Leave Taken</th>
                <th>Allowed Leaves</th>
                <th>Half days</th>
                <th>Late Attendance</th>
                <th>Leave Deductions</th>
                <th>Net Pay</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{personalDetails['totalWorkingDays']}}</td>
                <td>{{personalDetails['fullDays']}}</td>
                <td>{{personalDetails['absentDays']}}</td>
                <td>{{personalDetails['totalLeaveDays']}}</td>
                <td>{{personalDetails['allowedLeave']}}</td>
                <td>{{personalDetails['halfDays']}}</td>
                <td>{{personalDetails['lateDays']}}</td>
                <td>{{personalDetails['totalDeduction']}}</td>
                <td>{{personalDetails['basePay']}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="table-responsive text-nowrap">
          <table class="table table-hover">
            <thead>
              <tr>

                <th>SI.No</th>
                <th>Employee Code</th>
                 <th>Component</th>
                 <th>Pay Code</th>
                 <th>Amount</th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0">
              <tr *ngFor="let item of SalaryBreakup; let i = index">

                <th scope="row">{{ i + 1 }}</th>
                <td> {{ item["employeeId"] }}

                </td>
                <td>{{ item["name"] }}</td>
                <td>{{ item["pay_code"] }}</td>
                <td>{{ item["amount"] }}</td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- Full Page Loader -->
<div class="loading-state" *ngIf="isLoading">
  <div class="loading"></div>
</div>
