 <div class="container-fluid  mt-5">
  <div class="row mb-6" *ngIf="createFlag">
    <div class="col-md">
      <div class="card">
        <h5
          class="card-header d-flex justify-content-between align-items-center"
        >
          <span>Department</span>
          <button
            type="button"
            class="btn btn-xs btn-primary float-end"
            (click)="back()"
          >
            <i class="fa-solid fa-arrow-left"></i>&nbsp;back
          </button>
        </h5>

    
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <label for="defaultFormControlInput" class="form-label"
                >Name</label
              >
              <input
                type="text"
                class="form-control"
                id="defaultFormControlInput"
                placeholder="Enter Department Name"
                [(ngModel)]="obj['name']"
                aria-describedby="defaultFormControlHelp"
                required
              />

              <div class="invalid-feedback">Enter a valid email address.</div>
            </div>
            &nbsp;
            <div class="col-4" *ngIf="updateFlag">
              <label for="defaultFormControlInput" class="form-label"
                >Status</label
              >
              <ng-select
                [items]="status"
                bindLabel="label"
                bindValue="value"
                [(ngModel)]="obj['status']"
                [multiple]="false"
                placeholder="Select Status"
                name="status"
                id="select2Danger"
              >
              </ng-select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mt-2">
              <button
                *ngIf="createFlag && updateFlag == false"
                type="button"
                class="btn btn-sm btn-primary waves-effect waves-light"
                (click)="onSubmit()"
              >
                Submit
              </button>
              <button
                *ngIf="updateFlag"
                type="button"
                class="btn btn-sm btn-primary waves-effect waves-light"
                (click)="updatedata()"
              >
                Update
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-6">
    <div class="col-md">
      <div class="card">
        <h5
          class="card-header d-flex justify-content-between align-items-center"
        >
          <span>Department List</span>
          <button
            *ngIf="createFlag == false"
            type="button"
            class="btn btn-xs btn-primary float-end"
            (click)="opencreate()"
          >
            <i class="fa-solid fa-plus"></i>&nbsp;Add
          </button>
        </h5>

        <div
          id="DataTables_Table_3_wrapper"
          class="dt-container dt-bootstrap5 dt-empty-footer"
        >
          <div class="row mx-2 justify-content-between">
            <div
              class="d-md-flex justify-content-between align-items-center dt-layout-start col-md-auto me-auto"
            >
              <div class="dt-length">
                <label for="dt-length-3"
                  >Show<select
                    name="DataTables_Table_3_length"
                    aria-controls="DataTables_Table_3"
                    class="form-select form-select-sm"
                    id="dt-length-3"
                  >
                    <option value="7">7</option>
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option></select
                  >entries</label
                >
              </div>
            </div>
            <div
              class="d-md-flex justify-content-between align-items-center dt-layout-end col-md-auto mt-0"
            >
              <div class="dt-search mt-md-5 mt-0">
                <label for="dt-search-3">Search:</label
                ><input
                  type="search"
                  class="form-control form-control-sm"
                  id="dt-search-3"
                  placeholder="Type search here"
                  aria-controls="DataTables_Table_3"
                  (input)="applyFilter($event)"
                />
              </div>
            </div>
          </div>
          <div class="justify-content-between dt-layout-table mt-2">
            <div
              class="d-md-flex justify-content-between align-items-center dt-layout-full table-responsive"
            >
              <table
                class="table table-responsive dataTable dtr-column"
                id="DataTables_Table_3"
                aria-describedby="DataTables_Table_3_info"
              >
                <colgroup>
                  <col data-dt-column="0" />
                  <col data-dt-column="1" />
                  <col data-dt-column="2" />
                  <col data-dt-column="3" />
                  <col data-dt-column="4" />
                  <col data-dt-column="5" />
                </colgroup>
                <thead>
                  <tr>
                    <th>SI.No</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>createdAt</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                  <tr *ngFor="let item of departmentList; let i = index">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ item["name"] }}</td>
                    <td>
                      <span
                        class="badge  overflow-hidden px-2"
                        [ngClass]="getStatusClass(item['status'])"
                      >
                        {{ item["status"] }}
                      </span>
                    </td>
                    <td>{{ item["createdAt"] }}</td>

                    <td>
                      <button
                        type="button"
                        class="btn btn-sm btn-outline-success"
                        (click)="update(item)"
                      >
                        <i class="fas fa-edit"></i>
                      </button>
                      &nbsp;
                      <button
                        type="button"
                        class="btn btn-sm btn-outline-danger"
                        (click)="delete(item)"
                      >
                        <i class="fas fa-trash-alt"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
                <tfoot></tfoot>
              </table>
            </div>
          </div>
                <!-- Pagination & Info -->
        <div class="row mx-3 justify-content-between">
          <div
            class="d-md-flex justify-content-between align-items-center dt-layout-start col-md-auto me-auto"
          >
            <div class="dt-info" aria-live="polite" role="status">
              Showing {{ (currentPage - 1) * itemsPerPage + 1 }} to
              {{ getMin(currentPage * itemsPerPage, originalList.length) }} of
              {{ originalList.length }} entries
            </div>
          </div>

          <div
            class="d-md-flex justify-content-between align-items-center dt-layout-end col-md-auto mt-0"
          >
            <div class="dt-paging">
              <nav aria-label="pagination">
                <ul class="pagination">
                  <li class="page-item" [class.disabled]="currentPage === 1">
                    <a class="page-link" (click)="goToPage(currentPage - 1)"
                      >Prev</a
                    >
                  </li>

                  <li
                    class="page-item"
                    *ngFor="let p of [].constructor(totalPages); let i = index"
                    [class.active]="i + 1 === currentPage"
                  >
                    <a class="page-link" (click)="goToPage(i + 1)">{{
                      i + 1
                    }}</a>
                  </li>

                  <li
                    class="page-item"
                    [class.disabled]="currentPage === totalPages"
                  >
                    <a class="page-link" (click)="goToPage(currentPage + 1)"
                      >Next</a
                    >
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
