<div class="container-fluid  mt-5">
  <div class="row mb-6" *ngIf="createFlag">
    <div class="col-md">
      <div class="card">
        <h5 class="card-header d-flex justify-content-between align-items-center">
          <span>Reimbursement </span>
          <button type="button" class="btn btn-xs btn-primary float-end" (click)="back()">
            <i class="fa-solid fa-arrow-left"></i>&nbsp;back
          </button>
        </h5>

     
        <div class="card-body">
          <div class="row g-2">
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
              <label for="defaultFormControlInput" class="form-label">Select Employee</label>
              <ng-select [items]="EmpList" bindLabel="label" bindValue="value" [(ngModel)]="obj['employeeId']"
                [multiple]="false" placeholder="Select Employee" name="state" id="select2Danger" required
                #enCashableRef="ngModel">
              </ng-select>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
              <label for="defaultFormControlInput" class="form-label">From Date</label>
              <input type="date" class="form-control" id="defaultFormControlInput" placeholder="Select From Date"
                [(ngModel)]="obj['fromDate']" aria-describedby="defaultFormControlHelp" required />


            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
              <label for="defaultFormControlInput" class="form-label">To Date</label>
              <input type="date" class="form-control" id="defaultFormControlInput" placeholder="Select To Date"
                [(ngModel)]="obj['toDate']" aria-describedby="defaultFormControlHelp" required [min]="getToDateMin()" />


            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
              <label for="defaultFormControlInput" class="form-label">Amount</label>
              <input type="number" class="form-control" id="defaultFormControlInput" placeholder="Enter Amount"
                [(ngModel)]="obj['amount']" aria-describedby="defaultFormControlHelp" required />


            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
              <label for="formFile" class="form-label">Document</label>
              <!-- <input #fileInput class="form-control" type="file" id="formFile" type="file"
                (change)="onFileChange($event)" accept="image/*" /> -->
              <input #fileInput type="file" accept="image/*" class="form-control" id="file" multiple="true" name="file"
                (change)="onFileChange($event)" />
              <div *ngIf="sanitizedImage">
                <button style="position: static; right: 200px" (click)="close()" type="button" class="btn-close"
                  data-dismiss="modal" aria-label="Close"></button>
                <!-- If image, show thumbnail -->
                <div *ngIf="fileType?.startsWith('image')">
                  <img [src]="sanitizedImage" alt="Uploaded Image" class="img-thumbnail"
                    style="max-width: 80px; max-height: 80px; margin-top: 0px; object-fit: cover; border: 1px solid #cfd0d6; border-radius: 5px;" />
                </div>

                <!-- If PDF, show preview + download -->
                <!-- <div *ngIf="fileType == 'application/pdf'" style="margin-top: -10px;"> -->
                <div style="margin-top: -10px;">

                  <!-- <iframe [src]="sanitizedImage" width="200" height="80" style="border: 1px solid #cfd0d6; border-radius: 5px;"></iframe> -->

                  <br />
                  <a [href]="sanitizedImage" download="uploaded-file.pdf" class="btn btn-sm btn-success"
                    style="margin-top: -10px;">
                    Download PDF
                  </a>
                </div>

              </div>
            </div>





            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3" *ngIf="updateFlag">
              <label for="defaultFormControlInput" class="form-label">Status</label>
              <ng-select [items]="status" bindLabel="label" bindValue="value" [(ngModel)]="obj['status']"
                [multiple]="false" placeholder="Select Status" name="status" id="select2Danger">
              </ng-select>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-9">
              <label for="defaultFormControlInput" class="form-label">Description</label>
              <textarea class="form-control" rows="4" placeholder="Enter Description" [(ngModel)]="obj.remark"
                name="address"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mt-2">
              <button *ngIf="createFlag && updateFlag==false" type="button"
                class="btn btn-sm btn-primary waves-effect waves-light" (click)="onSubmit()">
                Submit
              </button>
              <button *ngIf="updateFlag" type="button" class="btn btn-sm btn-primary waves-effect waves-light"
                (click)="updatedata()">
                Update
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-6">
    <div class="col-md">
      <div class="card">

        <h5 class="card-header d-flex justify-content-between align-items-center">
          <span>Reimbursement List</span>
          <button *ngIf="createFlag == false" type="button" class="btn btn-xs btn-primary float-end"
            (click)="opencreate()">
            <i class="fa-solid fa-plus"></i>&nbsp;Add
          </button>
        </h5>

        <app-search-pagination [totalItems]="ReimbursementList.length" [pageSize]="itemsPerPage"
          [currentPage]="currentPage" (search)="onSearch($event)" (pageChange)="onPageChange($event)"
          (pageSizeChange)="onPageSizeChange($event)">
          <div class="table-responsive">
          <table class="table dataTable">
            <thead>
              <tr>
                <th>SI.No</th>
                <th>Name</th>

                <th>From Date</th>
                <th>To Date</th>
                <th>Amount</th>
                <th style="width: 30%;">Description</th>
                <th>Status</th>
                <th>createdAt</th>
                <th>Document</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0">
              <tr *ngFor="let item of ReimbursementList; let i = index">
                <th>{{ i + 1 }}</th>
                <td>{{ item.employee_name }}</td>


                <td>{{ item.fromDate }}</td>
                <td>{{ item.toDate }}</td>
                <td>{{ item.amount }}</td>
                <td>{{ item.remark }}</td>
                <td>
                  <span class="badge badge-outline-success" [ngClass]="getStatusClass(item.status)">
                    {{ item.status }}
                  </span>
                </td>
                <td>{{ item.createdAt | date: 'short' }}</td>
                <td>
                  <ng-container *ngFor="let f of item.files">

                    <!-- IMAGE -->
                    <ng-container *ngIf="f.doc_type.startsWith('image/')">
                      <img [src]="f.image" width="80" height="80" class="m-1 rounded cursor-pointer"
                        (click)="openModal1(f.image)" />
                    </ng-container>

                    <!-- PDF -->
                    <ng-container *ngIf="f.doc_type === 'application/pdf'">
                      <a [href]="f.image" class="btn btn-sm btn-primary m-1" target="_blank" download>
                        Download PDF
                      </a>
                    </ng-container>

                    <!-- EXCEL -->
                    <ng-container *ngIf="isExcel(f.doc_type)">
                      <a [href]="f.image" class="btn btn-sm btn-success m-1" download>
                        Download Excel
                      </a>
                    </ng-container>

                  </ng-container>

                </td>
                <td>

                  <button type="button" class="btn btn-sm btn-outline-success" *ngIf="item.status=='pending'"
                    (click)="statuschange(item,'approved')">
                    <i class="fas fa-edit"></i>
                  </button>
                  &nbsp;
                  <button *ngIf="item.status=='pending'" type="button" class="btn btn-sm btn-outline-danger"
                    (click)="statuschange(item,'rejected')">
                    <i class="fas fa-trash-alt"></i>
                  </button>

                  <!-- <button type="button" class="badge bg-label-danger" (click)="delete(item)">
                    <i class="fas fa-trash-alt"></i>
                  </button> -->
                </td>
              </tr>
            </tbody>
          </table>
          </div>
        </app-search-pagination>

      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="imageModal1" tabindex="-1" aria-labelledby="imageModalLabel1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Document</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body text-center">
        <img [src]="imageUrls" class="img-fluid" />
      </div>
    </div>
  </div>
</div>
